# Node.js
node_modules/

# Dependency directories
package-lock.json
npm-debug.log

# Optional npm cache directory
.npm

# Environment variables
.env

# Editor files
.vscode/
.idea/

# Log files
logs/
*.log

# Output directories
dist/
build/

# OS-specific files
Thumbs.db
.DS_Store